.App {
  text-align: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;;
  padding-right: 20px;;
}

.App-container {
  /* display: flex;
  flex-direction: column; */
}

@media only screen
and (min-device-width: 320px)
  /* and (min-device-width: 375px) */
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .App {
      padding-left: 0px;;
      padding-right: 0px;;
    }

}
