

.content-container {

}

.content-title {
  display: flex;
  align-items: center;
  padding-left: 80px;
  height: 40px;
  background-color: #606470;
}

.box-container {
  display: flex;
  /* justify-content: space-around; */
  padding-left: 80px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 150px;
  background-color: #f3ecc8;
  margin-right: 10px;
}

.box-title {

}
